* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

body {
    background: #fff0f3;
}

/* NAVBAR BASE */
.navbar {
    padding: 16px 80px;
    background: #f0758a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(117, 108, 108, 0.3);
}

.logo {
    width: 72px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 1px;
    background: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #ffe4ec;
}

/* HAMBURGER BUTTON */
.menu-btn {
    width: 30px;
    cursor: pointer;
    display: none;
}

/* MOBILE SIDEBAR */
.mobile-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -260px;
    width: 260px;
    background: #f0758a;
    padding: 80px 30px;
    transition: right 0.35s ease;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.mobile-sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-sidebar a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

/* BACKGROUND OVERLAY */
.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 150;
}

/* ACTIVE STATES */
.mobile-sidebar.active {
    right: 0;
}

.sidebar-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.main {
    padding: 100px 80px;
}

.hero-section {
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    border-bottom: 2px solid #f07589a2;
    padding-bottom: 52px;
}

.header {
    font-size: 58px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    color: #f0758a;
    margin-bottom: 16px;
}

.details {
    max-width: 48ch;
    font-size: 20px;
    color: #3a3a3a;
    margin-bottom: 30px;
    line-height: 1.4;
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-pic1 {
    width: 440px;
}

.btn-more {
    border: none;
    outline: none;
    padding: 20px 40px;
    background: #f0758a;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.15s;
}

.btn-more:hover {
    background: #ff5471;
}

.about {
    background: #ff5471;
    margin-top: 100px;
    padding: 40px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header1 {
    font-size: 48px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    color: rgb(238, 238, 238);
    margin-bottom: 16px;
}

.details1 {
    max-width: 48ch;
    font-size: 20px;
    color: #fff0f3;
    margin-bottom: 16px;
    line-height: 1.4;
}

.stacks {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.stacks li {
    list-style: none;
    padding: 20px;
    border-radius: 24px;
    transition: 0.15s;
    margin-bottom: 12px;
    background: #fff0f3;
    color: #ff5471;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;
    border: 2px solid rgba(228, 228, 228, 0);
}

.stacks li:hover {
    border: 2px solid rgba(228, 228, 228, 1);
    background: #ff5471;
    color: #fff0f3;
}

.btn-dl {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    padding: 16px 32px;
    background: #fff0f3;
    color: #ff5471;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.15s;
    font-weight: 700;
    border: 2px solid rgba(228, 228, 228, 0);
}

.btn-dl:hover {
    border: 2px solid rgba(228, 228, 228, 1);
    background: #ff5471;
    color: #fff0f3;
}

.btn-more:hover {
    background: #ff5471;
}

.main-projects {
    margin-top: 100px;
}

.project-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.header2 {
    font-size: 48px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    color: #f0758a;
    margin-bottom: 20px;
}

.project-img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.websites {
    background: white;
    border-radius: 24px;
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: 0.15s;
}

.websites:hover {
    transform: scale(1.01);
}

.project-title {
    font-family: "Fredoka", sans-serif;
    color: #ff5471;
    font-weight: 500;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.tag-cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tags {
    background: #fff0f3;
    color: #ff5471;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 24px;
}

.message {
    margin-top: 80px;
    background: url(./pics/message-bg.png);
    background-size: cover;
    padding: 200px 220px;
    color: #fff0f3;
    text-align: center;
    border-radius: 24px;
    text-shadow: 0 2px 10px rgba(10, 10, 10, .9);
}

.message h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}

.message p {
    margin-bottom: 24px;
    font-size: 16px;
}

.msg-icon {
    width: 20px;
}

.gmail-message {
    cursor: pointer;
    margin: 0 auto;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 600;
    background: #fff0f3;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 16px 24px;
    gap: 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: 0.15s;
}

.gmail-message:hover {
    transform: scale(1.1);

}

.mainfooter {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px 80px;
    background: #f0758a;
    color: #fff0f3;

}

.mainfooter1 {
    display: flex;
    gap: 80px;
}

.footer-header {
    margin-bottom: 8px;
}

.contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 8px;
    list-style: none;
}

.icons {
    width: 20px;
}

.footer-logo {
    width: 40px;
}

.subfooter {
    text-align: center;
    padding: 20px;
    background: #ff5471;
    color: #fff0f3;
}

/* Base modal styles */
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1200;
}

.modal[aria-hidden="false"] {
    opacity: 1;
    pointer-events: auto;
}

/* Overlay */
.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

/* Panel */
.modal-panel {
    position: relative;
    background: #fff;
    border-radius: 24px;
    max-width: 600px;
    width: 90%;
    overflow: auto;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
    padding: 36px;
}

.modal-panel .tag-cont {
    margin-bottom: 16px;
}

.modal-panel .tags {
    font-size: 12px;
}

.modal[aria-hidden="false"] .modal-panel {
    transform: scale(1);
    opacity: 1;
}

/* Close button */
.modal-close {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #ff5471;
}

/* Modal content */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-img {
    width: 100%;
    max-width: 600px;
    /* or any width you want */
    height: auto;
    /* keeps the aspect ratio */
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    /* centers the image */
}


.modal-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #ff5471;
}

.modal-desc {
    color: #333;
    line-height: 1.6;
    margin-bottom: 24px;
}

.button-flex {
    display: flex;
    gap: 12px;
    align-items: center;
}

.button-flex a {
    padding: 12px 16px;
    background-color: #f0758a;
    text-decoration: none;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.15s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-flex img {
    width: 20px;
    height: auto;
}


.button-flex a:hover {
    background-color: #ff5471;
}



@media screen and (max-width:1024px) {
    .hero-section {
        gap: 32px;
        padding-bottom: 52px;
    }

    .my-pic1 {
        width: 400px;
    }

    .header {
        font-size: 48px;
    }

    .btn-more {
        padding: 18px 36px;
    }

    .about {
        padding: 32px;
        gap: 32px;
    }

    .header1 {
        font-size: 40px;
    }

    .details1 {
        font-size: 16px;
    }

    .stacks {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .btn-dl {
        padding: 12px 24px;
    }

    .header2 {
        font-size: 40px;
    }

    .message {
        padding: 100px 120px;
    }

}

@media screen and (max-width:820px) {
    .my-pic1 {
        width: 320px;
    }

    .header {
        font-size: 32px;
    }

    .details {
        font-size: 16px;
    }

    .btn-more {
        padding: 14px 28px;
    }

    .header1 {
        font-size: 32px;
    }

    .btn-dl {
        padding: 10px 20px;
    }

    .header2 {
        font-size: 32px;
    }

    .project-cont {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .project-title {
        font-size: 24px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .message {
        padding: 80px 100px;
    }

    .message h3 {
        font-size: 28px;
    }
}

@media screen and (max-width:680px) {
    .navbar {
        padding: 16px 40px;
    }

    .logo {
        width: 60px;
    }

    .main {
        padding: 50px 40px;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 1fr;

    }

    .intro-container {
        order: 2;
        text-align: center;
    }

    .details {
        max-width: none;
    }

    .intro-img {
        order: 1;
    }

    .about {
        margin-top: 50px;
        padding: 40px;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .header1 {
        margin-bottom: 16px;
    }

    .details1 {
        max-width: none;
        margin-bottom: 20px;
    }

    .stacks li {
        padding: 16px;
    }

    .btn-dl {
        margin: 0 auto;
        border-radius: 20px;
    }

    .stacks {
        margin-top: 20px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 8px;
    }

    .stacks li {
        list-style: none;
        padding: 4px 16px;
        font-size: 14px;
        font-weight: 500;
        gap: 8px;
    }

    .header2 {
        text-align: center;
        margin-bottom: 32px;
    }

    .main-projects {
        margin-top: 50px;
    }

    .mainfooter {
        display: grid;
        grid-template-columns: 1fr;
        padding: 60px 40px;
    }

    .mainfooter1 {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .subfooter {
        padding: 16px;
    }

    .message {
        padding: 60px 80px;
    }

    .message h3 {
        font-size: 28px;
    }

    .gmail-message {
        padding: 12px 16px;
    }
}

/* RESPONSIVE */
@media (max-width: 426px) {
    .websites {
        padding: 20px;
    }

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 16px 20px;
    }

    .message {
        padding: 32px 32px;
        text-align: left;
        margin-top: 40px;
    }

    .message h3 {
        font-size: 28px;
    }

    .gmail-message {
        padding: 12px 16px;
        margin: 0;
    }
}

@media screen and (max-width:460px) {
    /* navbar disappear */
}