* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

body {
    background: #fff0f3;
}

.navbar {
    padding: 16px 80px;
    background: #f0758a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(117, 108, 108, 0.3);
}

.logo {
    width: 72px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 1px;
    background: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #ffe4ec;
}

/* HAMBURGER BUTTON */
.menu-btn {
    width: 30px;
    cursor: pointer;
    display: none;
}

/* MOBILE SIDEBAR */
.mobile-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -260px;
    width: 260px;
    background: #f0758a;
    padding: 80px 30px;
    transition: right 0.35s ease;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.mobile-sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-sidebar a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

/* BACKGROUND OVERLAY */
.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 150;
}

/* ACTIVE STATES */
.mobile-sidebar.active {
    right: 0;
}

.sidebar-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.main {
    padding: 100px 80px;
}

.contents-intro {
    border-radius: 24px;
    padding: 40px;
    background: #f0758a;
}

.my-pic {
    width: 440px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.intro1 {
    color: #fff0f3;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 16px;
}

.intro2 {
    color: #fff0f3;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;
}

.btn-dl {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    padding: 8px 20px;
    background: #fff0f3;
    color: #f0758a;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.15s;
    font-weight: 700;
    border: 2px solid rgba(228, 228, 228, 0);
}

.btn-dl:hover {
    border: 2px solid rgb(255, 240, 243);
    background: #f0758a;
    color: #fff0f3;
}

.hobby {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
    margin-bottom: 100px;
}

.hobby-content {
    color: #fff0f3;
    font-size: 20px;
    font-weight: 600;
}

.img-hobby {
    width: 440px;
}

.header {
    color: #f0758a;
    margin-top: 40px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 58px;
}

.exp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work {
    display: flex;
    gap: 16px;
}

.work-icon {
    width: 40px;
}

.work-title {
    color: #ff5471;
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 4px;
}

.company {
    color: rgba(32, 32, 32, 0.8);
    margin-bottom: 4px;
}

.date {
    color: rgba(92, 92, 92, 0.8);
    font-style: italic;
}

.cert {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.cert-title {
    color: #ff5471;
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 4px;
}

.given-by {
    color: rgba(32, 32, 32, 0.8);
    margin-bottom: 4px;
}

.cert-icon {
    width: 40px;
}

.mainfooter {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px 80px;
    background: #f0758a;
    color: #fff0f3;
}

.mainfooter1 {
    display: flex;
    gap: 80px;
}

.footer-header {
    margin-bottom: 8px;
}

.contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 8px;
    list-style: none;
}

.icons {
    width: 20px;
}

.footer-logo {
    width: 40px;
}

.subfooter {
    text-align: center;
    padding: 20px;
    background: #ff5471;
    color: #fff0f3;
}

/* RESPONSIVE */
@media (max-width: 426px) {
    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 16px 20px;
    }
}